*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}


body{
    font-family: Helvetica;
    font-size: 18px;
}

.container{
  width: 1140px;
  margin: 20px auto 0px auto;
}

.blog-post{
  width: 75%;
  float: left;
  padding-right: 50px;
}

h1, h2 {
    color: #008080;

}


h1{
  font-size: 40px;
  margin-bottom: 20px;
}

h2{
  font-size: 25px;
  margin-bottom: 10px;
}

.main-text {
 text-align: justify;
 margin-bottom: 50px;
}


.other-posts{
margin-bottom: 50px;
width: 25%;
float: left;
}

.other{
  margin-bottom: 40px;
}

.author-box{
  padding-top: 20px;
  border-top: 1px solid #808080;
}

.author-box img{
  height: 134px;
  width: 136px;
  border-radius: 50%;
}

.author-text {
font-size: 22px;
}
